* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background: rgb(255, 87, 87);
    height: 10vh;
    text-align: center;
    padding: 20px;
    color: #fff;
}

h3, h4 {
    padding: 10px;
}

p {
    padding: 5px;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.employee-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px;
    width: 20%;
    height: 30%;
    background-color: #DCDCDC;
    box-shadow: 0 50px 50px -50px black;
}

.employee-name-role {
    color: #fff;
    background: rgb(61, 61, 187);
}

.employee-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid #333333;
    width: 80%;
    justify-content: center;
    background-color: #fff;
    
}

.id, .email {
    border-bottom: 1px solid #333333;
}
